<div class="body">
  <div class="div-divide">
    <div class="div-item-1">
      <img src="https://cdn-icons-png.flaticon.com/512/1177/1177455.png" alt="" width="50px" height="50px">
      <p>Project of Cloud Computing Course</p>
    </div>

    <div class="div-item-2">
      <p> <i class="fas fa-user"></i> Nguyen Thi Thu Thao</p>
      <p> <i class="fas fa-phone"></i> (+84) 868286420</p>
      <p> <i class="fas fa-address-book"></i> HCM City</p>
      <p><i class="fas fa-envelope"></i>19110460@student.hcmute.edu.vn</p>
    </div>

    <div class="div-item-2">
      <p> <i class="fas fa-user"></i> Nguyen Huu Thien Nhan</p>
      <p> <i class="fas fa-phone"></i> (+84) 868286425</p>
      <p> <i class="fas fa-address-book"></i> HCM City</p>
      <p><i class="fas fa-envelope"></i>19110415@student.hcmute.edu.vn</p>
    </div>

    <div class="div-item-2">
      <p> <i class="fas fa-user"></i> Nguyen Anh Phu</p>
      <p> <i class="fas fa-phone"></i> (+84) 868286426</p>
      <p> <i class="fas fa-address-book"></i> HCM City</p>
      <p><i class="fas fa-envelope"></i>19110415@student.hcmute.edu.vn</p>
    </div>

    <div class="div-item-3">
      <button>
        <i class="fab fa-facebook-f"></i>
      </button>
      <button>
        <i class="fab fa-linkedin-in"></i>
      </button>
      <button>
        <i class="fab fa-youtube"></i>
      </button>
      <button>
        <i class="fas fa-blog"></i>
      </button>
    </div>
  </div>
</div>
