.body {
  width: 100%;
  height: 100px;
  background-color: #101220;
  padding: 2px;

  margin-top: 50px;
}

.div-divide {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
}

.div-item-1 {

  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-wrap: wrap;
}

.div-item-1 p{
  width: 90%;
  font-size: 15px;
  text-align: center;
}


.div-item-2 {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Roboto' , cursive;
  font-size: 15px;
  flex-wrap: wrap;
}

.div-item-2 p {
  width: 100%;
  height: fit-content;
  margin: 2px;
  padding: 0;
}
.div-item-3 {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-item-3 button {
  text-decoration: none;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  font-size: 20px;

  border-radius: 50%;

  background: #101220;
  box-shadow:  17px 17px 34px #06070d,
               -17px -17px 34px #1a1d33;
               margin: 10px;

}

.div-item-3 button:hover {
cursor: pointer;
background: #101220;
box-shadow: inset 7px 7px 13px #06070d,
            inset -7px -7px 13px #1a1d33;
}
