<div class="body" id="style-13">
  <app-banner [images]="images" [autoSlide]="true"> </app-banner>

  <div class="text-category">
    <p class="text">House price prediction in HCM City</p>
  </div>

  <div class="text-infor">
    <p>
      Accurate house price prediction in Ho Chi Minh City based on machine learning technology.
      Bringing accuracy and convenience to users
    </p>
  </div>

  <div class="card-blog">
    <div class="div-a">
      <div class="card">
        <div class="header">
          <img src="https://cdn-icons-png.flaticon.com/512/9151/9151096.png" alt="Prdict House Price">
        </div>
        <div class="text">
          <p class="food">Smart</p>
        </div>
      </div>
    </div>

    <div class="div-a">
      <div class="card">
        <div class="header">
          <img src="https://cdn-icons-png.flaticon.com/512/5942/5942935.png" alt="Prdict House Price">
        </div>
        <div class="text">
          <p class="food">Convenience</p>
        </div>
      </div>
    </div>

    <div class="div-a">
      <div class="card">
        <div class="header">
          <img src="https://cdn-icons-png.flaticon.com/512/9102/9102969.png" alt="Prdict House Price">
        </div>
        <div class="text">
          <p class="food">Free</p>
        </div>
      </div>
    </div>

    <div class="div-a">
      <div class="card">
        <div class="header">
          <img src="https://cdn-icons-png.flaticon.com/512/8916/8916455.png" alt="Prdict House Price">
        </div>
        <div class="text">
          <p class="food">Reliable</p>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
